@model Product
@using StoreApp.Infrastructe.Extensions

@* <div>
    <h2>@Model.ProductName</h2>
    <p>@Model.Price.ToString("c")</p>

    <a class="btn btn-primary" asp-action="Get" asp-route-id="@Model.ProductId">
        <i class="fa-solid fa-arrow-right"></i>
        Get Details
    </a>
    <hr/>
</div> *@
 
<div class="col-sm-12 col-md-4 my-2">
    <div class="card" style="width: 18rem;">

        <div class="card-header text-center">
            @Model.ProductName
        </div>

        <img src="@Model?.ImageUrl"  class="card-img-top" alt="Card image cap">

        <div class="d-flex justify-content-center">
        <div class="card-body">
            <div class="card-text">
                <div class="text-danger texr-center lead p-2 rounded-3">
                    @Model?.Price.ToString("c2")
                </div>
            </div>
            <h5 class="card-title">@Model?.Summary</h5>
            <p class="card-text">Some quick example text to build 
                on the card title and make up the bulk of the 
                card's content.</p>
                <a 
                    asp-controller="Product"
                    class="btn btn-outline-primary" asp-action="Get" asp-route-id="@Model?.ProductId">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            <form itemid="@Model?.ProductId" asp-page="/cart" method="post">
                <input type="hidden" asp-for="ProductId" />
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn btn-outline-secondary mx-1">
                    <i class="fa fa-cart-plus"></i>
                </button>
            </form>
            </div>
        </div>
    </div>
</div>
